body
{
	margin: 0 auto;
	padding: 0;
	font-size: 62.5%;
}
.Main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}

.PageBackgroundSimpleGradient
{
	position: absolute;
	background-image: url('../images/Page-BgSimpleGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width: 100%;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1024px;
	min-width:35px;
	min-height:35px;
}

.Sheet-body
{
	position: relative;
	z-index:1;
	padding: 13px;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl, .Sheet-tc, .Sheet-bc,.Sheet-cr, .Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl
{
	width: 34px;
	height: 34px;
	background-image: url('../images/Sheet-s.png');
}

.Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 17px, 17px, auto);
}

.Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 17px, 17px);
}

.Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(17px, 17px, auto, auto);
}

.Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(17px, auto, auto, 17px);
}

.Sheet-tc, .Sheet-bc
{
	left: 17px;
	right: 17px;
	height: 34px;
	background-image: url('../images/Sheet-h.png');
}

.Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 17px, auto);
}

.Sheet-bc
{
	bottom: 0;
	clip: rect(17px, auto, auto, auto);
}

.Sheet-cr, .Sheet-cl
{
	top: 17px;
	bottom: 17px;
	width: 34px;
	background-image: url('../images/Sheet-v.png');
}

.Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 17px);
}

.Sheet-cl
{
	left:0;
	clip: rect(auto, 17px, auto, auto);
}

.Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 17px;
	left: 17px;
	right: 17px;
	bottom: 17px;
	background-color: #FFFFFF;
}


.Sheet
{
	margin-top: -13px !important;
}

.PageBackgroundSimpleGradient, .PageBackgroundGradient, .PageBackgroundGlare
{
	min-width:900px;
}

/* end Box, Sheet */

/* begin Header */
div.Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 998px;
	height: 85px;
}


div.Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 998px;
	height: 85px;
	background-image: url('../images/Footer.png');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.logo
{
	display : block;
	position: absolute;
	left: 0px;
	top: 30px;
	width: 100%;
}

h1.logo-name
{
	display: block;
	text-align: center;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 38px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	padding:0;
	margin:0;
	color: #0F3C4D !important;
}

.logo-text
{
	display: block;
	text-align: center;
}

.logo-text, .logo-text a
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 19px;
	font-style: normal;
	font-weight: normal;
	padding:0;
	margin:0;
	color: #0F3C4D !important;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: right;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.artmenu, .artmenu ul
{
	min-height: 0;
}

.artmenu ul
{
	background-image: url(../images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}




/* menu structure */

.artmenu
{
	padding: 8px 4px 0px 4px;
}

.nav
{
	position: relative;
	height: 33px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 33px;
	background-image: url('../images/nav.png');
}

.nav .l
{
	left: 0;
	right:0px;
}

.nav .r
{
	right: 0;
	width: 874px;
	clip: rect(auto, auto, auto, 874px);
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
	clear: both;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 25px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 3px;
	margin-left: 3px;
}


.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 75px;
	background-image: url('../images/MenuItem.png');
}

.artmenu a .l
{
	left:0;
	right:3px;
}

.artmenu a .r
{
	width:406px;
	right:0;
	clip: rect(auto, auto, auto, 403px);
}

.artmenu a .t 
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #112B36;
	padding: 0 15px;
	margin: 0 3px;
	line-height: 25px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-25px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-25px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-25px;
}
.artmenu a:hover .t
{
	color: #163746;
}

.artmenu li:hover a .t
{
	color: #163746;
}

.artmenu li:hover>a .t
{
	color: #163746;
}



/* end MenuItem */

/* begin ContentLayout */
.contentLayout
{
	position: relative;
	margin-bottom: 1px;
	width: 874px;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.Block-body
{
	position: relative;
	z-index:1;
	padding: 7px;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc,.Block-cr, .Block-cl
{
	position:absolute;
	z-index:-1;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl
{
	width: 14px;
	height: 14px;
	background-image: url('../images/Block-s.png');
}

.Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

.Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

.Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

.Block-tc, .Block-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('../images/Block-h.png');
}

.Block-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

.Block-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

.Block-cr, .Block-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('../images/Block-v.png');
}

.Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

.Block-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

.Block-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-color: #D7E7EF;
}


.Block
{
	margin: 2px 2px 7px 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 7px;
}

.BlockHeader .t
{
	height: 30px;
	color: #134A5E;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	white-space : nowrap;
	padding: 0 7px;
	line-height: 30px;
}

.BlockHeader .l, .BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('../images/BlockHeader.png');
	top: 1px;
}

.BlockHeader .l
{
	left:1px;
	right:6px;
}

.BlockHeader .r
{
	width:894px;
	right:0px;
	clip: rect(auto, auto, auto, 888px);
}





.header-tag-icon
{
	display:inline-block;
	background-position:left top;
	background-image: url('../images/BlockHeaderIcon.png');
	padding:0 0 0 21px;
	background-repeat: no-repeat;
	min-height: 14px;
	margin: 0 0 0 5px;
}


/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 8px;
}



.BlockContent-body
{
	color:#13262F;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}

.BlockContent-body a:link
{
	color: #2286AA;
	font-family: Tahoma, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
	color: #4E94B7;
	font-family: Tahoma, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
	color: #09C1E1;
	font-family: Tahoma, Helvetica, Sans-Serif;
	text-decoration: none;
}

.BlockContent-body ul
{
	list-style-type: none;
	color: #32637B;
	margin:0;
	padding:0;
}

.BlockContent-body li
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	text-decoration: none;
}

.BlockContent-body ul li
{
	padding:0px 0 0px 13px;
	background-image: url('../images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.Post-body
{
	position: relative;
	z-index:1;
	padding: 15px;
}



.Post
{
	margin: 10px;
}

/* Start images */
a img
{
	border: 0;
}

.article img, img.article
{
	margin: 1em;
}

.metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
	background-color:Transparent;
}

.article th, .article td
{
	padding: 2px;
	border: solid 1px #28A1CC;
	vertical-align: top;
	text-align:left;
}

.article th
{
	text-align:center;
	vertical-align:middle;
	padding: 7px;
}

/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #15546A;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #15546A;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #196480;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #3B7491;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #09C1E1;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}

.PostContent
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  color: #182F3A;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #1D7595;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #1D7595;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #4486A7;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #09C1E1;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #279AC4;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #279AC4;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #67A3C1;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #182F3A;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #182F3A;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #182F3A;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #071B22;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.Post li
{
	padding:0px 0 0px 13px;
	line-height:1.2em;
}

.Post ol li, .Post ul ol li
{
	background: none;
	padding-left:0;
}

.Post ul li, .Post ol ul li 
{
	background-image: url('../images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote p
{
	color:#091116;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

blockquote
{
		border:solid 1px #9DC4D7; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#CCE0EA;
	background-image:url('../images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin Button */
.Button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:30px;
	margin:0;
	padding:0;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.Button .btn
{
	display:block;
	position:relative;
	float:left;
	height: 30px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	color: #EEF8FC;
}

.Button .btn .t
{
	display:block;
	height: 30px;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
	padding: 0 14px;
	line-height: 30px;
	text-decoration: none !important;
}

input, select
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}

.Button .hover, .Button:hover
{
	color: #0F3C4D;
	text-decoration: none !important;
}

.Button .active
{
	color: #E8F3F8;
}

.Button .btn .l, .Button .btn .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 90px;
	background-image: url('../images/Button.png');
}

.Button .btn .l
{
	left:0;
	right:8px;
}

.Button .btn .r
{
	width:409px;
	right:0;
	clip: rect(auto, auto, auto, 401px);
}

.Button .btn.hover .l, .Button .btn.hover .r, .Button .btn:hover .l, .Button .btn:hover .r
{
	top: -30px;
}

.Button .btn.active .l, .Button .btn.active .r
{
	top: -60px;
}


/* end Button */

/* begin Footer */
.Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 1024;
	margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}

.Footer .Footer-background
{
	position:absolute;
	z-index:-1;
	background-image: url('../images/Footer.png');
	width: 1024px;
	height: 150px;
	bottom:0;
	left:0;
}


.rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('../images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 25px;
	width: 25px;
}




.Footer .Footer-text p
{
	margin: 0;
}

.Footer .Footer-text
{
	display:inline-block;
	color:#13262F;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
}

.Footer .Footer-text a:link
{
	text-decoration: none;
	color: #196480;
	font-family: Tahoma, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.Footer .Footer-text a:visited
{
	text-decoration: none;
	color: #3B7491;
	font-family: Tahoma, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.Footer .Footer-text a:hover
{
	text-decoration: none;
	color: #09C1E1;
	font-family: Tahoma, Helvetica, Sans-Serif;
	text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
	font-family:Tahoma;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#2286AA;
}

.page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#5598B9;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 174px;
}
/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 700px;
}
.contentLayout .content-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 699px;
}
.contentLayout .content-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 699px;
}
.contentLayout .content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 873px;
}
/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 174px;
}
/* end LayoutCell */



.error {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#FFF2F2;
	background-position:3px 3px;
	border-color:#FF8080;
}

input.error{}
label.error {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#FFF2F2;
	background-position:3px 3px;
	border-color:#FF8080;
}

.info {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#FFF5F6;
	background-position:3px -147px;
	border-color:#FF8C40;
}

.ok {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#F0FFE5;
	background-position:3px -247px;
	border-color:#4DBF00;
}

.notice {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#E6F5FF;
	background-position:5px -295px;
	border-color:#40B3FF;
}


.stop {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#FFF2F2;
	background-position:3px -47px;
	border-color:#FF8080;
}

.alert {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#FFF5F6;
	background-position:3px -97px;
	border-color:#FF8C40;
}

.tips {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#FFFFE5;
	background-position:3px -197px;
	border-color:#FFCC7F;
}

.small-help {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#FFFFFF;
	background-position:5px -1095px;
	border-color:#FFFFFF;
}

.help {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#FFFFFF;
	background-position:3px -1197px;
	border-color:#FFFFFF;
}

.question {
	background:url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	color:#404040;
	line-height:18px;
	padding:2px 10px 2px 23px;	
	background-color:#F2F2F2;
	background-position:3px -347px;
	border-color:#BFBFBF;
}

.message{
    border:1px solid #CCCCCC;   
    width:300px;   
    border:1px solid #c93;   
    background:#ffc;   
    padding:5px;   
    color: #333333;   
    margin-bottom:10px;   
}

.time_picker_div {padding:5px;
		border:solid #999999 1px;
		background:#ffffff;}
		
.divinput{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
}

.divtextarea{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
}		