/* BEGIN: Tabs */

ul.tabs {
    float: left;
    position: relative;
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    z-index: 25;
    padding: 0;
    padding-right: 1px;
}

ul.tabs li {
    float: left;
    border: 1px solid #b2b2b2;
    padding: 0.3em 0.35em;
    background-color: #fff;
    margin: 0 0.4em -1px 0;

    position: relative;
    z-index: 50;
}

ul.tabs li.active {
    border-bottom: 0px solid #fff;
    padding-bottom: 0.4em;
	background-image:url(../images/TableHeader.png);
}

#PageWrap.about ul.tabs li a {
    color: #585858;
    text-decoration: none;
    font-size: 0.99em;
}

#PageWrap.about ul.tabs a:hover {
    text-decoration: underline;
}

/* END: Tabs */

/* BEGIN: Column widths */

.main-wrapper {
    clear: left;
    float: left;
    width: 58em;
    border: 1px solid #b2b2b2;
    position: relative;
    z-index: 0;
    margin- bottom: 0.5em;
}

#PageWrap {
    font-size: small;
    width: 73.3em;
    background-color: #FFFFFF;
    margin: 0 auto 0.3em auto;
    padding: 0em;
}